* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    box-sizing: border-box;
    background-color: #f3f3f4;
    display: flex;
  }
  
  hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: lightgray;
    height: 1px;
  }
  
  .box-1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    margin: 0.2rem;
  }
  
  .box-2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    margin: 0.2rem;
    margin-left: 1rem;
    height: fit-content;
}
  
  .empty {
    display: flex;
    background-color: #f3f3f4;
    height: 120px;
    width: 120px;
  }
  
  .items {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .top-item-margin {
    margin-right: 5rem;
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .checkout-button {
    background-color: #1ab394;
    border-color: transparent;
    border-radius: 0.2rem;
    height: 3.125rem;
    width: 9.375rem;
    color: white;
    text-align: center;
  }
  
  .content {
    padding: 0.5rem;
    margin-bottom: -25px;
  }
  .content h1 {
    color: #04886d;
    font-size: 1.5rem;
    margin-top: 0.1rem;
  }
  
  .detail {
    width: 850px;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }
  
  .detail-1 {
    margin-top: -1rem;
  }
  
  .items button {
    width: 2.5rem;
    height: 2rem;
    background-color: white;
    text-align: start;
  }
  
  .price p {
    margin-top: -0.2rem;
    font-size: 22px;
    margin-right: 1rem;
    margin-bottom: 5px;
    text-align: right;
  }
  
  .price s {
    font-size: 15px;
  }
  
  .final-price {
    margin-top: -0.2rem;
    font-size: 22px;
    margin-left: 1rem;
  }
  
  .cancel-button {
    background-color: white;
    border-color: lightgrey;
    border-radius: 0.2rem;
    height: 3.125rem;
    width: 120px;
    text-align: center;
    margin-left: -0.4rem;
  }
  
  .cart-summary {
    padding: 0.8rem;
    margin: 0.2rem;
  }
  
  .total {
    padding: 0.8rem;
  }
  
  .tax-detail {
    margin-top: -1.5rem;
    padding: 0.8rem;
    width: 330px;
  }
  
  .total-font-size {
    font-size: 35px;
    margin-top: -0.8rem;
  }
  
  .total-height {
    font-size: 22px;
    margin-top: -0.1rem;
  }
  
  .content i{
    color: gray;
  } 

  @media screen and (max-width: 1200px) {
    body {
      flex-direction: column;
    }

    .items{
        flex-direction: column;
    }

    .detail {
        width: 300px;
    }

    .items button {
       margin-left: 220px;
      }
      
      .price s {
        font-size: 20px;
      }
      
      .final-price {
        margin-top: 10px;
        margin-left: 220px;
      }

      hr {
        background-color:rgb(225, 220, 220);
      }
      
      .top-item-margin {
        margin-right: 0rem;
      }

      .checkout-button {
        height: 50px;
        width: 120px;
      }

      .continue-shopping {
        height: 50px;
        width: 120px;
      }

      .awesome-font {
        width:200px;
      }
      .tax-detail{
        width: 300px;
      }
      .cancel-button {
        height: 50px;
        width: 100px;
        margin-left: -0.3rem;
      } 
  }

  